go.work
go.work.sum

# Test outputs
coverage.out
cover.cov

# macOS Specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE
.idea
.vscode

# dev
.env
.env.local
vendor/*
service-account.json

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

embeddings/cybertron/models/*
examples/cybertron-embedding-example/models/*

# CLI binary
/langchain
/cmd/langchain/langchain
